<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FieldOfView.AddinSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FieldOfView.Addin" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FieldOfView.AddinSettings>
            <setting name="FoV" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UseDefault" serializeAs="String">
                <value>True</value>
            </setting>
        </FieldOfView.AddinSettings>
        <FieldOfView.Addin>
            <setting name="FoV" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UseDefault" serializeAs="String">
                <value>True</value>
            </setting>
        </FieldOfView.Addin>
    </userSettings>
</configuration>